html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.MuiPaper-root.css-o821ap-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: transparent;
}

@font-face {
  font-family: 'Nohemi';
  src: local('Nohemi'),
    url('./assets/fonts/Nohemi-Font/Nohemi-Light-BF6438cc5702321.woff')
      format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'),
    url('./assets/fonts/Satoshi-Font/Satoshi-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
